@page "/Medici/Index"
@model Proiect_aplicatieWeb.Pages.Medici.IndexModel

@{
    ViewData["Title"] = "Medici";
}

<h1>Medici</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].Nume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].Prenume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].Specializare)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medic[0].Telefon)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Medic) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specializare.Denumire)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
